body, .navbar {
    color: rgb(23, 23, 23);
}

.bg-dark {
    background-color: #FCF6F5FF !important;
}

.bg-primary {
    background-color: #2BAE66FF !important; 
}

.text-primary {
    color: #2BAE66FF !important; 
    font-weight: bold;
}

#navbar-name {
    color: rgb(29, 121, 70) !important;
}

#bio img {
    max-height: 250px;
    margin-bottom: 15px;
}

#bio p {
    opacity: 0.7;
}

#intro-text {
    font-size: large;
}

.school_name {
    font-size: medium;
}

#interests-span {
    font-size: x-large;
}

.container-section  {
    padding-top: 80px;
    padding-bottom: 80px;
}

#bio  {
    padding-top: 40px;
}

#research a, #bio a {
    text-decoration: none;
}

#research a:hover, #bio a:hover {
    text-decoration: none;
    color: rgb(29, 140, 79) !important;
}

#service {
    padding-bottom: 30px;
}

.h1-section {
    font-family: Verdana, sans-serif;
}

.list-group-h1, .list-group-h3, .list-group-item {
    text-align: left;
    border: none;
}

.list-group-h3 {
    font-size: x-large;
}

#footer ul, #bio ul {
    justify-content: center;
    display: flex;
}

#academicons-list li {
    float: left; 
    padding-left: 6px;
    padding-right: 6px;
    font-size: 24px;
}

#academicons-list a, .link {
    color: #3E54AC !important;
}

#academicons-list a:hover, .link:hover {
    color: #2d396a;
}

#footer p {
    font-size: 14px;
    opacity: 0.7;
}