/* .text-warning {
    color: rgb(255, 0, 76) !important;
}

.bg-primary {
    background-color: rgb(255, 0, 76) !important;
} */

.text-secondary {
    color: rgb(2, 162, 255) !important; /*on grey*/
}

.bg-primary {
    background-color: rgb(20, 145, 218) !important; /*on white*/
}

.bg-secondary {
    background-color: rgb(27, 136, 199) !important; /*on grey*/
}

#container-intro  {
    min-height: 100vh;
}

#container-intro img {
    max-height: 250px;
    margin-bottom: 15px;
}

#container-intro p {
    opacity: 0.7;
}

#intro-text {
    font-size: large;
}

.school_name {
    font-size: medium;
}

#interests-span {
    font-size: x-large;
}

.container-section  {
    padding-top: 80px;
    padding-bottom: 80px;
}

#container-intro  {
    padding-top: 40px;
}

#container-research a, #container-intro a {
    text-decoration: none;
}

#container-service {
    padding-bottom: 30px;
}

.h1-section {
    font-family: Verdana, sans-serif;
}

.list-group-h1, .list-group-h3, .list-group-item {
    text-align: left;
    border: none;
}

.list-group-h3 {
    font-size: x-large;
}

#footer ul, #container-intro ul {
    justify-content: center;
    display: flex;
}

#academicons-list li {
    float: left; 
    padding-left: 6px;
    padding-right: 6px;
    font-size: 24px;
}

#academicons-list a {
    color: white;
    opacity: 0.7;
}

#academicons-list a:hover {
    color: white;
    opacity: 1;
}

#footer p {
    font-size: 14px;
    opacity: 0.7;
}