/* general ****************************************/
body {
    color: #171717;
    font-family: 'Montserrat', Arial, sans-serif;
}

.badge {
    background-color: #1e38cf;
}

.container-section  {
    padding-top: 80px;
    padding-bottom: 80px;
}

.h1-section {
    color: #3e6921;
    letter-spacing: .24rem;
    text-align: left;
}

.display-6 {
    color: #3e6921;
    text-transform: uppercase;
    letter-spacing: .16rem;
}

.list-group-h1, .list-group-h3, .list-group-item {
    text-align: left;
    border: none;
}

.list-group-h1, .list-group-h3 {
    font-size: x-large;
}

/* navbar *****************************************/
.navbar {
    background-color: white;
    letter-spacing: .12rem;
    border-bottom: 1px solid #ededed;
}

.navbar-brand {
    color: #3e6921;
    font-weight: bold;
    letter-spacing: .16rem;
    padding-right: 10px;
}

.nav-item {
    padding-right: 10px;
}

/* intro *****************************************/
#intro {
    text-align: left;
    padding-top: 40px;
}

#intro img {
    max-height: 300px;
    margin-bottom: 15px;
}

#intro a {
    text-decoration: none;
}

#intro a:hover {
    text-decoration: none;
}

#intro ul {
    display: flex;
}

#intro-bio {
    font-size: large;
}

#intro-interests {
    font-size: x-large;
}

#intro-education .school_name {
    font-size: medium;
}

.text-link {
    font-weight: bold;
    color: #3e6921;
    opacity: 0.8;
}

.text-link:hover {
    color: #2c4b17;
    opacity: 1;
}

/* research *************************************/
#research a {
    text-decoration: none;
}

#research a:hover {
    text-decoration: none;
}

/* teaching *************************************/


/* service **************************************/
#service {
    padding-bottom: 30px;
}

/* links ***************************************/
.source-link {
    font-weight: bold;
    color: #3e6921;
    opacity: 0.8;
}

.source-link:hover {
    color: #2c4b17;
    opacity: 1;
}

.icons-list li {
    float: left; 
    padding-left: 6px;
    padding-right: 6px;
    font-size: 24px;
}

.icons-list:first-child {
    padding-left: 0px;
}

.big-icon {
    color: #3e6921;
    opacity: 0.8;
}

.big-icon:hover {
    color: #2c4b17;
    opacity: 1;
}

/* footer ***************************************/
#footer p {
    font-size: 10px;
    letter-spacing: .12rem;
}

#footer ul {
    display: flex;
    justify-content: center;
}